.button {
  display: block;
  font-family: $font-text;
  border-radius: 4px;
  border: none;
}

.actions__button {
  margin-bottom: 32px;
}

.button--sidebar {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 200px;
  height: 52px;
  color: $color-white;
  background-color: $color-blue;
  font-weight: 500;
  font-size: 16px;
  line-height: 148%;
}

.button--sidebar:hover,
.button--sidebar:focus {
  background-color: $color-hover-blue;
}

.button--sidebar:active {
  background-color: $color-active-blue;
}

.button__navigation-icon {
  margin-left: 20px;
  margin-right: 20px;
}

.button--balance {
  background: $color-white;
  border-radius: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 145px;
  height: 40px;
  padding-left: 12px;
  padding-right: 12px;
}

.button__balance-icon {
  fill: $color-blue;
}
