.page__body {
  width: 1970px;
  display: flex;
  margin: 0;
  font-family: $font-text;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
}

.page__menu-container {
  width: 1680px;
  margin-left: 240px;
  /* Same as the width of the sidebar */
  padding: 0px 120px;
  outline: 1px solid #19da5d;
  outline-offset: -1px;
}
