.table-calls {
  width: 1440px;
  border-radius: 8px;
  background-color: $color-white;
  align-self: center;
}

.table-calls__heading th {
  font-family: $font-text;
  text-align: left;
  color: $color-light-gray;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  padding: 20px 40px;
}

.table-calls__heading :last-child {
  text-align: right;
}

.table-calls__line {
  text-align: left;
}

.table-calls__line :last-child {
  text-align: right;
}

.table-calls__type-call {
  fill: $color-incoming-call;
}
