.table-calls {
  width: 100%;
}

.table-calls__heading {
  text-align: left;
}

.table-calls__heading :last-child {
  text-align: right;
}

.table-calls__line {
  text-align: left;
}

.table-calls__line :last-child {
  text-align: right;
}
