.table-container {
  width: 1440px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: $color-white;
  align-self: center;
  border-radius: 8px;
}

.table-calls {
  width: 100%;
  table-layout: fixed;
  background-color: $color-white;
  align-self: center;
  border-collapse: collapse;
  word-break: break-all;
}


.table-calls__heading th {

  font-family: $font-text;
  text-align: left;
  color: $color-light-gray;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}

.table-calls__heading :nth-child(1) {
  width: 50px;
}

.table-calls__heading :nth-child(2) {
  width: 90px;
}

.table-calls__heading :nth-child(3) {
  width: 130px;
}

.table-calls__heading :nth-child(4) {
  width: 325px;
}

.table-calls__heading :nth-child(5) {
  width: 215px;
}

.table-calls__heading :nth-child(6) {
  width: 450px;
}

.table-calls__heading :nth-child(7) {
  width: 90px;
}

.table-calls__heading :last-child {
  text-align: right;
}

.table-calls__line {
  text-align: left;
}

.table-calls__line td {

  text-align: left;
  border-top: 1px solid $color-dark-gray;
  padding-top: 20px;
  padding-bottom: 20px;
}

.table-calls__line:nth-child(1) {
  text-align: right;
}

.table-calls__line :last-child {
  text-align: right;
}

.table-calls__type-call {
  fill: $color-incoming-call;
}
