.page__body {
  width: 1970px;
  display: flex;
  margin: 0;
  font-family: "SF Pro Display", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  background-color: #F1F4F9;
}

.page__main {
  display: flex;
  flex-direction: column;
}

.page__menu-container {
  width: 1680px;
  margin-left: 240px;
  /* Same as the width of the sidebar */
}

.page__header {
  padding: 0px 120px;
}

.page-main__picker {
  padding: 20px 120px;
}

.page-main__filters {
  padding: 0px 120px;
  background-color: #F1F4F9;
}

.sidebar {
  height: 100%;
  /* Full-height: remove this if you want "auto" height */
  width: 240px;
  /* Set the width of the sidebar */
  position: fixed;
  /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #091336;
  /* Black */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 20px;
  color: rgba(255, 255, 255, 0.6);
  font-family: "SF Pro Display", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.sidebar__logo {
  margin-left: 12px;
}

.sidebar__site-menu {
  margin-bottom: 64px;
}

.sidebar__actions {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.site-menu__list {
  list-style-type: none;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.site-menu__item {
  display: flex;
}

.site-menu__navigation-icon {
  margin: auto 12px;
}

.site-menu__link {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 240px;
  height: 50px;
  color: rgba(255, 255, 255, 0.6);
}

.site-menu__link:hover,
.site-menu__link:focus {
  background-color: rgba(216, 228, 251, 0.32);
}
.site-menu__link:hover .navigation-icon,
.site-menu__link:focus .navigation-icon {
  fill: #FFFFFF;
}

.site-menu__link:active {
  background-color: rgba(216, 228, 251, 0.32);
  border-left: 3px solid #005FF8;
}
.site-menu__link:active .navigation-icon {
  fill: #FFFFFF;
}

.link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.link:hover,
.link:focus,
.link:active {
  color: #FFFFFF;
}

.navigation-icon {
  fill: rgba(255, 255, 255, 0.6);
}

.button {
  display: block;
  font-family: "SF Pro Display", "Arial", sans-serif;
  border-radius: 4px;
  border: none;
}

.actions__button {
  margin-bottom: 32px;
}

.button--sidebar {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 200px;
  height: 52px;
  color: #FFFFFF;
  background-color: #005FF8;
  font-weight: 500;
  font-size: 16px;
  line-height: 148%;
}

.button--sidebar:hover,
.button--sidebar:focus {
  background-color: #0000F4;
}

.button--sidebar:active {
  background-color: #274BC8;
}

.button__navigation-icon {
  margin-left: 20px;
  margin-right: 20px;
}

.button--balance {
  background: #FFFFFF;
  border-radius: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 145px;
  height: 40px;
  padding-left: 12px;
  padding-right: 12px;
}

.button__balance-icon {
  fill: #005FF8;
}

.page-header {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  background-color: #FFFFFF;
}

.page-header__information {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__date {
  font-family: "SF Pro Display", "Arial", sans-serif;
  color: #899CB1;
  margin-right: 86px;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
}

.information {
  display: flex;
}

.state-list {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  line-height: 148%;
}

.state-list__termin {
  color: rgb(0, 0, 0);
}

.state-list__description-calls {
  color: #28A879;
}

.state-list__description--quality {
  color: #FFD500;
}

.state-list__description--conversion {
  color: #EA1A4F;
}

.state-list__progress {
  display: block;
  height: 6px;
  width: 156px;
  border-radius: 12px;
  background-color: #DEE6F5;
}

.state-list__meter {
  display: block;
  height: 100%;
  border-radius: 12px;
}

.state-list__meter--calls {
  background-color: #28A879;
  width: 45%;
}

.state-list__meter--quality {
  background-color: #FFD500;
  width: 40%;
}

.state-list__meter--conversion {
  background-color: #EA1A4F;
  width: 67%;
}

.user-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #899CB1;
  width: 486px;
  align-items: center;
}

.user-menu__user-name:hover,
.user-menu__user-name:focus {
  color: #0000F4;
}
.user-menu__user-name:hover .user-menu__text,
.user-menu__user-name:focus .user-menu__text {
  color: #0000F4;
}
.user-menu__user-name:hover .search-icon,
.user-menu__user-name:focus .search-icon {
  fill: #0000F4;
}

.user-avatar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 68px;
}

.search-icon {
  fill: #ADBFDF;
}

.search-icon:hover,
.search-icon:focus {
  fill: #0000F4;
}

.search-icon:active {
  fill: #274BC8;
}

.picker {
  font-family: "SF Pro Display", "Arial", sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  background-color: #F1F4F9;
}

.picker__date-picker {
  margin-left: 48px;
}

.picker__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 148%;
  color: #899CB1;
}

.picker__balance {
  color: rgb(0, 0, 0);
}

.date-picker {
  display: flex;
  width: 115px;
  height: 24px;
  align-items: center;
  justify-content: space-between;
}

.date-picker__calendar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 58px;
  color: #005FF8;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #ADBFDF;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.search__search-input {
  color: #5E7793;
  background: transparent;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  border: none;
}

.filters-list {
  display: flex;
  list-style-type: none;
  width: 753px;
  justify-content: space-between;
}

.filters-list__item:hover {
  color: #0000F4;
}
.filters-list__item:hover .search-icon {
  fill: #0000F4;
}

.filters-list__item:active {
  color: #274BC8;
}
.filters-list__item:active .search-icon {
  fill: #274BC8;
}

.table-container {
  width: 1440px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #FFFFFF;
  align-self: center;
  border-radius: 8px;
}

.table-calls {
  width: 100%;
  table-layout: fixed;
  background-color: #FFFFFF;
  align-self: center;
  border-collapse: collapse;
  word-break: break-all;
}

.table-calls__heading th {
  font-family: "SF Pro Display", "Arial", sans-serif;
  text-align: left;
  color: #899CB1;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}

.table-calls__heading :nth-child(1) {
  width: 50px;
}

.table-calls__heading :nth-child(2) {
  width: 90px;
}

.table-calls__heading :nth-child(3) {
  width: 130px;
}

.table-calls__heading :nth-child(4) {
  width: 325px;
}

.table-calls__heading :nth-child(5) {
  width: 215px;
}

.table-calls__heading :nth-child(6) {
  width: 450px;
}

.table-calls__heading :nth-child(7) {
  width: 90px;
}

.table-calls__heading :last-child {
  text-align: right;
}

.table-calls__line {
  text-align: left;
}

.table-calls__line td {
  text-align: left;
  border-top: 1px solid rgba(216, 228, 251, 0.32);
  padding-top: 20px;
  padding-bottom: 20px;
}

.table-calls__line:nth-child(1) {
  text-align: right;
}

.table-calls__line :last-child {
  text-align: right;
}

.table-calls__type-call {
  fill: #005FF8;
}
/*# sourceMappingURL=style.css.map */