$font-text: "SF Pro Display", "Arial", sans-serif;

$color-dark-blue: #091336;
$color-gray: rgba(255, 255, 255, 0.6);
$color-dark-gray: rgba(216, 228, 251, 0.32);
$color-white: #FFFFFF;
$color-blue: #005FF8;
$color-hover-blue: #0000F4;
$color-active-blue: #274BC8;
$color-yellow: #FFD500;
